## 협업 필터링 추천 시스템

In [ ]:
협업 필터링(Collaborative Filtering)

- 취향이 비슷한 친구들에게 물어보는 것과 유사한 방식으로
- 사용자가 아이템에 매긴 평점 정보나 상품 구매 이력과 같은
- 사용자 행동 양식만을 기반으로 추천을 수행하는 방식

협업 필터링 주요 목표
- 사용자-아이템 평점 매트릭스와 같은 축적된 사용자 행동 데이터를 기반으로
- 사용자가 아직 평가하지 않은 아이템을 예측 평가하는 것
- 즉, 사용자가 평가한 다른 아이템을 기반으로
- 사용자가 평가하지 않은 아이템의 예측 평가를 도출하는 방식

In [ ]:
협업 필터링 기반의 추천 시스템
- 최근접 이웃 방식 (Nearest Neighbor)
- 잠재 요인 방식 (Latent Factor)
- 두 방식 모두 '사용자-아이템 평점' 행렬 데이터에만 의지해 추천 수행


'사용자-아이템 평점' 행렬
- 행(Row) : 개별 사용자
- 열(Column) : 개별 아이템
- 사용자 아이디 행, 아이템 아이디 열 위치에 해당하는 값이 평점을 나타내는 형태
- 레코드 레밸 형태인 경우 행렬 형태로 변환 (피벗 테이블 사용)

### 최근접 이웃 협업 필터링

최근접 이웃 협업 필터링
- 메모리(Memory) 협업 필터링이라고도 함
- 사용자 기반 (User-User)
    - 특정 사용자와 비슷한 고객들을 기반으로 
    - 비슷한 고객들이 선호하는 다른 상품 추천
    - 특정 사용자와 비슷한 상품을 구매해온 고객들은 비슷한 고객으로 간주
    - 당신과 비슷한 고객들이 다음 상품도 구매했습니다
- 아이템 기반 (Item-Item)
    - 특정 아이템과 가장 비슷하게 좋은 평가를 받은 다른 유사한 아이템 추천
    - 사용자들로 부터 특정 상품과 비슷한 평가를 받은 상품들은 비슷한 상품으로 간주
    - 이 상품을 선택한 다른 고객들은 다음 상품도 구매했습니다

In [ ]:
사용자 기반 최근접 이웃 방식
- 특정 사용자와 유사한 다른 자용자를 TOP-N으로 선정해
- 이 TOP-N 사용자가 좋아하는 아이템을 추천하는 방식
- 즉, 특정 사용자와 타 사용자 간의 유사도를 측정한 뒤
- 가장 유사도가 높는 TOP-N 사용자를 추출해서
- 선호하는 아이템을 추천하는 것


사용자 기반 최근접 이웃 방식의 기반 데이터 세트
- 행 : 개별 사용자
- 열 : 개별 아이템


예 : 사용자별 영화 평점 정보
- A와 B 상호 간 유사도가 매우 높음
- A에게 아직 보지 못한 두 개의 영화 중 하나를 추천한다면
- B가 재미있게 본 '프로메테우스' 추천

In [ ]:
아이템 기반 최근접 이웃 방식
- 사용자들이 특정 아이템을 좋아하는지/싫어하는지의 평가 척도가 
- 유사한 아이템을 추천하는 기준이 되는 알고리즘
- 주의! 
  - 명칭 때문에 '아이템 간 속성' 유사도 기반으로 추천한다고 착각
  - 아이템이 가지는 속성과는 상관 없음

아이템 기반 최근접 이웃 방식의 기반 데이터 세트
- 행 : 개별 아이템
- 열 : 개별 사용자
- (사용자 기반과 행, 열이 반대)


예 : 아이템별 영화 평점 정보 
- 사용자들의 평점 분포로 봤을 때 
- '다크 나이트'와 '프로메테우스'가 상호 간 아이템(영화) 유사도가 상대적으로 매우 높음
- '다크 나이트'를 매우 좋아하는 사용자 D에게 '프로메테우스' 추천

일반적으로 사용자 기반보다는 아이템 기반 협업 필터링이 정확도가 높음  


이유 : 비슷한 영화(또는 상품)를 좋아(또는 구입)한다고 해서  
- 사람들의 취향이 비슷하다고 판단하기는 어려운 경우가 많기 때문
- 매우 유명한 영화는 취향과 관계없이 대부분의 사람이 관람하는 경우가 많고
- 사용자들이 평점을 매긴 영화(또는 상품)의 개수가 많지 않은 경우가 일반적인데
- 이를 기반으로 다른 사람과의 유사도를 비교하기 어려운 부분도 있음
- 따라서 최근접 이웃 협업 필터링은 대부분 아이템 기반의 알고리즘 적용

In [ ]:
아이템 기반 협업 필터링 구현 순서  
(1) 사용자-아이템 행렬 데이터를 아이템-사용자 행렬 데이터로 변환  
(2) 아이템간의 코사인 유사도로 아이템 유사도 산출  
(3) 사용자가 관람(구매)하지 않은 아이템들 중에서 아이템간 유사도를 반영한 예측 점수 계산  
(4) 예측 점수가 가장 높은 순으로 아이템 추천

### 아이템 기반 최근접 이웃 협업 필터링 추천 시스템 예제

In [ ]:
사용 데이터
- Grouplens 사이트의 MovieLens 데이터 셋 사용
- https://grouplens.org/datasets/movielens/latest  
- ml-latest-small.zip  
- ratings.csv, movies.csv 사용  
- 600명의 사용자 9,000 개의 영화에 대해 평가한
- 십만개의 평점(rating) 정보 포함

### 데이터 가공 및 행렬 변환

In [2]:
import pandas as pd
import numpy as np

movies = pd.read_csv('./data/movies.csv')
ratings = pd.read_csv('./data/ratings.csv')
print(movies.shape)
print(ratings.shape)

(9742, 3)
(100836, 4)

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
ratings를 이용해 아이템 기반의 최근접 이웃 협업 필터링 구현
- 사용자와 아이템 간의 평점에 기반해 추천
- 로우(행) 레벨 사용자 평점 데이터를 사용자-아이템 평점 행렬로 변환

In [5]:
# 로우레벨 사용자 평점 데이터를 사용자-아이템 평점 행렬로 변환
# pivot_table() 사용

ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')
ratings_matrix.head(3)

# 결과
# 로우(행) : userid
# 칼럼 : movieId
# 데이터 : rating 값

# NaN : 사용자가 평점을 매기지 않은 영화가
# 칼럼으로 변환되면서 NaN 값으로 할당됨

# 최소 평점이 0.5이므로 
# NaN은 모두 0으로 변환

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# 최소 평점 확인
ratings['rating'].min()

0.5

In [ ]:
현재 칼럼명이 1, 2, 3 숫자로 되어 있어 가독성이 떨어짐  
가독성을 높이기 위해 칼럼명 movieId를 title로 변경  
title은 movies 데이터 세트에 존재하므로   
ratings와 movies를 merge()한 후 피벗 수행하고
NaN은 0으로 변환

In [7]:
# title 컬럼을 얻기 이해 movies 와 merge() 수행
# 공통 칼럼 : movieId
rating_movies = pd.merge(ratings, movies, on='movieId')
rating_movies.head()

,userId,movieId,rating,title,genres
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [8]:
# columns='title' 로 title 컬럼으로 pivot 수행. 
ratings_matrix = rating_movies.pivot_table('rating', index='userId', columns='title')

# NaN 값을 모두 0 으로 변환
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix

# 0이 상당히 많음 (희소행렬) : 당연
# 많은 영화를 다 보지 못하기 때문
# 상품도 상당히 많기 때문 마찬가지임
# 기본적으로 추천에 사용되는 데이터 세트는 희소 행렬 형태

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.5,3.5,0.0,0.0,0.0
609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,...,0.0,4.0,3.5,3.0,0.0,0.0,2.0,1.5,0.0,0.0

### 영화와 영화들 간 유사도 산출

In [ ]:
영화 간 유사도 산출  
- 변환된 사용자-평점 행렬 데이터 세트를 이용해 영화 간 유사도 측정
- 코사인 유사도 기반
- 사이킷런의 cosine_similarity() 이용

In [ ]:
주의!!
- cosine_similarity()는 행을 기준으로 서로 다른 행을 비교해 유사도 산출하는데
- 현재 rating_matrix는 userId가 기준인 행 레벨 데이터 세트로
- 영화 간 유사도가 아닌 사용자 간의 유사도가 측정됨
- 따라서 행 기준이 아닌 열(title) 기준이 사용자가 돼야 함  
--> 행과 열의 위치 변경  
- 판다스 transpose() 사용 (전치 행렬 변환)

### (1) 사용자-아이템 행렬 데이터를 아이템-사용자 행렬 데이터로 변환

In [9]:
# title 열을 행으로 변환
ratings_matrix_T = ratings_matrix.transpose()
ratings_matrix_T.head(3)

# 참고
# ratings_matrix.T : 전치 행렬

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### (2) 아이템간의 코사인 유사도로 아이템 유사도 산출

In [12]:
# 코사인 유사도 산출
# cosine_similarity() 변환 결과 : 넘파이 행렬

from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)

# cosine_similarity() 로 반환된 넘파이 행렬을 영화명을 매핑하여 DataFrame으로 변환
item_sim_df = pd.DataFrame(data=item_sim, index=ratings_matrix.columns,
                          columns=ratings_matrix.columns)
print(item_sim_df.shape)
item_sim_df.head()

(9719, 9719)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),1.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.141653,0.0,...,0.0,0.342055,0.543305,0.707107,0.0,0.0,0.139431,0.327327,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,1.000000,0.707107,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Round Midnight (1986),0.0,0.707107,1.000000,0.000000,0.000000,0.0,0.176777,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Salem's Lot (2004),0.0,0.000000,0.000000,1.000000,0.857493,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Til There Was You (1997),0.0,0.000000,0.000000,0.857493,1.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0

In [13]:
# '대부'와 유사도가 높은 상위 6개 영화 추출
item_sim_df["Godfather, The (1972)"].sort_values(ascending=False)[:6]
# 기준 영화인 '대부' 제와하면
# 대부 2편
# 마틴 스콜세지 감독의 좋은 친구들 (Goodfellas )

# 앞의 컨텐츠 기반 필터링과 다른 점은 
# '뻐꾸기 둥지 위로 날아간 새' 또는
# '스타워즈 1편'과 같이 
# 장르가 완전히 다른 영화도 유사도가 매우 높게 나타났음

title
Godfather, The (1972)                        1.000000
Godfather: Part II, The (1974)               0.821773
Goodfellas (1990)                            0.664841
One Flew Over the Cuckoo's Nest (1975)       0.620536
Star Wars: Episode IV - A New Hope (1977)    0.595317
Fargo (1996)                                 0.588614
Name: Godfather, The (1972), dtype: float64

In [14]:
# 'Inception'과 유사도가 높은 상위 6개 영화 추출
# Inception 제외한 경우
item_sim_df["Inception (2010)"].sort_values(ascending=False)[1:6]

# Inception 제외하면
# 다크나이트가 가장 유사도가 높음
# 뒤를 이어 주로 스릴러와 액션이 가미된 좋은 영화가 높은 유사도를 나타냄

# Inglourious Basterds : 바스터즈: 거친 녀석들 (전쟁/액션)
# Shutter Island : (스릴러/미스터리)
# Fight Club : (스릴러/드라마)

title
Dark Knight, The (2008)          0.727263
Inglourious Basterds (2009)      0.646103
Shutter Island (2010)            0.617736
Dark Knight Rises, The (2012)    0.617504
Fight Club (1999)                0.615417
Name: Inception (2010), dtype: float64

In [ ]:
지금 생성한 아이템 기반의 영화 유사도 데이터 (item_sim_df)
- 모든 사용자의 평점을 기준으로 영화의 유사도 생성
- 유사도 기반으로 영화 추천 가능
- 그러나 개인적인 취향을 반영하지 않고
- 영화 간의 유사도만 가지고 추천하는 것

### (3) 사용자가 관람(구매)하지 않은 아이템들 중에서 아이템간 유사도를 반영한 예측 점수 계산

### 아이템 기반 최근접 이웃 협업 필터링으로 개인화된 영화 추천

In [ ]:
개인화된 영화 추천의 가장 큰 특징
- 개인이 아직 관람하지 않은 영화를 추천하는 것
- 아직 관람하지 않은 영화에 대해서 
- 아이템 유사도와 기존에 관람한 영화의 평점 데이터를 기반으로 해서
- 새롭게 모든 영화의 예측 평점을 계산한 후 
- 높은 예측 평점을 가진 영화를 추천하는 방식

In [ ]:
- 앞 예제에서 생성된 
- 영화 간 유사도 데이터 item_sim_df와 
- 사용자-영화 평점 데이터프레임 변수 ratings_matirx 계속 활용해서
- 사용자별로 최적화된 평점 스코어를 예측하는 함수 생성

- 파라미터 : 사용자-영화 평점 넘파이 행렬, 영화 간 유사도 넘파이 행렬
- 반환 값 : 수식을 이용해서 개인화된 예측 평점

In [15]:
# 수식을 이용해서 개인화된 예측 평점을 구하는 함수
# 개인화된 예측 평점을 계산하고 정규화
def predict_rating(ratings_arr, item_sim_arr ):
    ratings_pred = ratings_arr.dot(item_sim_arr)/ np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

In [16]:
# predict_rating() 함수를 사용해서 개인화된 예측 평점 구하기
# 데이터프레임 ratings_matrix와 item_sim_df를 넘파이 행렬로 변환해서
# 함수 인자로 전달

ratings_pred = predict_rating(ratings_matrix.values , item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index= ratings_matrix.index,
                                   columns = ratings_matrix.columns)
print(ratings_pred_matrix.shape)
ratings_pred_matrix.head(3)

(610, 9719)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.070345,0.577855,0.321696,0.227055,0.206958,0.194615,0.249883,0.102542,0.157084,0.178197,...,0.113608,0.181738,0.133962,0.128574,0.006179,0.212070,0.192921,0.136024,0.292955,0.720347
2,0.018260,0.042744,0.018861,0.000000,0.000000,0.035995,0.013413,0.002314,0.032213,0.014863,...,0.015640,0.020855,0.020119,0.015745,0.049983,0.014876,0.021616,0.024528,0.017563,0.000000
3,0.011884,0.030279,0.064437,0.003762,0.003749,0.002722,0.014625,0.002085,0.005666,0.006272,...,0.006923,0.011665,0.011800,0.012225,0.000000,0.008194,0.007017,0.009229,0.010420,0.084501

In [ ]:
오차 확인
- 이 예측 결과가 원래의 실제 평점과 얼마나 차이가 있는지 확인
- 예측 평가 지표는 MSE 적용

MSE 측정 시 유의할 점!!
- 사용자가 평점을 주지 않은 경우 앞에서는 평점을 0으로 부과했지만
- 개인화된 예측 점수는 평점을 주지 않은 영화에 대해서도
- 아이템 유사도 기반해 평점 예측했음
- 따라서 실제와 예측 평점의 차이는 
- 기존에 평점이 부여된 데이터에 대해서만 오차 정도를 측정할 것임

In [17]:
from sklearn.metrics import mean_squared_error

# 사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE 를 구함. 
def get_mse(pred, actual):
    # Ignore nonzero terms.
    pred = pred[actual.nonzero()]
    actual = actual[actual.nonzero()]
    return mean_squared_error(pred, actual)

print('아이템 기반 모든 인접 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values ))

# 결과
# MSE:  약 9.89
# 실제값가 예측값은 서로 스케일이 다르기 때문에 MSE가 클 수 있음
# 중요한 것은 MSE를 감소시키는 방향으로 개선하는 것

아이템 기반 모든 인접 이웃 MSE:  9.895354759094706

In [ ]:

특정 영화와 가장 비슷한 유사도를 가지는 영화에 대해서만  
유사도 벡터를 적용하는 함수로 변경  

Top-N 유사도를 가지는 영화 유사도 벡터만 예측값을 계산하는데 적용  
- 개별 예측값을 구하기 위해 행,열 별로 for 반복 수행하면서
- Top-N 유사도 벡터를 계산해야 하기 때문에
- 수행 시간이 오래 걸림
- 데이터 크기가 커지만 매우 오래 걸리는 로직임

In [19]:
# 사용자별 아이템 유사도에 기반한 예측 평점 데이터 세트 반환하는 함수

def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
    # 사용자-아이템 평점 행렬 크기만큼 0으로 채운 예측 행렬 초기화
    pred = np.zeros(ratings_arr.shape)

    # 사용자-아이템 평점 행렬의 열 크기만큼 Loop 수행. 
    for col in range(ratings_arr.shape[1]):
        # 유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬의 index 반환
        top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]]
        # 개인화된 예측 평점을 계산
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T) 
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))        
    return pred

In [20]:
# predict_rating_topsim() 함수를 이용해서
# - 예측 평점을 계산하고
# - 실제 평점과의 MSE 측정

import warnings
warnings.filterwarnings("ignore")

ratings_pred = predict_rating_topsim(ratings_matrix.values , item_sim_df.values, n=20)
print('아이템 기반 인접 TOP-20 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values ))


# 계산된 예측 평점 데이터는 DataFrame으로 재생성
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index= ratings_matrix.index,
                                   columns = ratings_matrix.columns)

# 결과
# MSE가 약  3.69로 기존의 9.89보다 많이 향상됨

아이템 기반 인접 TOP-20 이웃 MSE:  3.694957479362603

In [21]:
# 특정 사용자에 대해 영화 추천
# userId = 9인 사용자에 대해 영화 추천
# 9번 userId 사용자가 어떤 영화를 좋아하는지 확인
# 사용자가 평점을 매긴 영화를 평점이 높은 순으로 표시

# userId = 9에 해당되는 행 선택해서
user_rating_id = ratings_matrix.loc[9, :] 
# 평점이 0보다 큰 영화만 추출해서 내림차순 정렬
user_rating_id[ user_rating_id > 0].sort_values(ascending=False)[:10]

title
Adaptation (2002)                                                                 5.0
Citizen Kane (1941)                                                               5.0
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    5.0
Producers, The (1968)                                                             5.0
Lord of the Rings: The Two Towers, The (2002)                                     5.0
Lord of the Rings: The Fellowship of the Ring, The (2001)                         5.0
Back to the Future (1985)                                                         5.0
Austin Powers in Goldmember (2002)                                                5.0
Minority Report (2002)                                                            4.0
Witness (1985)                                                                    4.0
Name: 9, dtype: float64

In [23]:
ratings_matrix.head(10)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### (4) 예측 점수가 가장 높은 순으로 아이템 추천

### 아이템 기반의 최근접 이웃 협업 필터링으로 영화 추천

In [ ]:
# 특정 userId 사용자에게 
# 사용자가 관람하지 않은 영화 중에서
# 아이템 기반의 최근접 이웃 협업 필터링으로 영화 추천

In [25]:
# 관람하지 않은 영화 리스트 추출

# 사용자가 이미 평점을 준 영화를 제외하고 추천할 수 있도록
# 평점을 주지 않은 영화를 리스트 객체로 반환하는 함수 생성
# 평점을 주지 않은 영화를 관람하지 않은 영화로 간주

# 평점이 0인 영화는 관람하지 않은 영화

def get_unseen_movies(ratings_matrix, userId):
    # userId로 입력받은 사용자의 모든 영화정보 추출하여 Series로 반환 
    # 반환된 user_rating 은 영화명(title)을 index로 가지는 Series 객체임
    user_rating = ratings_matrix.loc[userId,:]    
    
    # 관람하지 않은 영화만 추출 : 평점이 0인 영화
    unseen_list = user_rating[ user_rating == 0].index.tolist()
    
    return unseen_list

In [ ]:
# 관람하지 않은 영화 추출 함수 
# 교재 코드 -->  다시 작성
# 평점이 0인 것만 추출하면 되는데 
# 0이 아닌 것 추출한 후 전체에서 제외하는 방식
# 불필요하게 복잡함 --> 변경한 함수로 사용

# def get_unseen_movies(ratings_matrix, userId):
#     # userId로 입력받은 사용자의 모든 영화정보 추출하여 Series로 반환 
#     # 반환된 user_rating 은 영화명(title)을 index로 가지는 Series 객체임
#     user_rating = ratings_matrix.loc[userId,:]
    
#     # user_rating이 0보다 크면 기존에 관람한 영화로 간주하고
#     # 대상 index를 추출하여 list 객체로 만듬
#     # 영화명(title) 리스트
#     already_seen = user_rating[ user_rating > 0].index.tolist()
    
#     # 모든 영화명을 list 객체로 만듬. 
#     movies_list = ratings_matrix.columns.tolist()
    
#     # 관람하지 않은 영화만 추출
#     # 모든 영화 리스트에서 이미 관람한 영화 제외 
#     unseen_list = [ movie for movie in movies_list if movie not in already_seen]
    
#     return unseen_list

In [ ]:
**아이템 기반 유사도로 평점이 부여된 데이터 세트에서 
해당 사용자가 관람하지 않은 영화들의 예측 평점이 가장 높은 영화를 추천**

사용자가 영화의 평점을 주지 않은 추천 대상 영화 정보와  
predict_rating_topsim() 함수에서 추출한   
사용자별 아이템 유사도에 기반한 예측 평점 데이터 세트를 이용해서  
최종적으로 사용자에게 영화 추천

In [26]:
# 영화 추천 함수 생성

# 파라미터 : 예측 평점 데이터프레임, 추천하려는 사용자 id, 추천 후보 영화 리스트, 추천 상위 영화 개수
# 반환 : 사용자가 좋아할만한 가장 높은 예측 평점을 가진 영화 추천

def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):
    # 예측 평점 DataFrame에서 사용자id index와 unseen_list로 들어온 영화명 컬럼을 추출하여
    # 가장 예측 평점이 높은 순으로 정렬함. 
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

In [27]:
# 사용자가 관람하지 않는 영화명 추출   
unseen_list = get_unseen_movies(ratings_matrix, 9)

# 아이템 기반의 인접 이웃 협업 필터링으로 영화 추천 
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이타를 DataFrame으로 생성. 
recomm_movies = pd.DataFrame(data=recomm_movies.values,
                             index=recomm_movies.index,
                             columns=['pred_score'])
recomm_movies


# 결과
# 슈렉, 스파이더맨, 인디애나 존스-2, 매트릭스 등 
# 다양하지만 흥행성을 가진 작품이 추천됨

                                                    pred_score
title
Shrek (2001)                                          0.866202
Spider-Man (2002)                                     0.857854
Last Samurai, The (2003)                              0.817473
Indiana Jones and the Temple of Doom (1984)           0.816626
Matrix Reloaded, The (2003)                           0.800990
Harry Potter and the Sorcerer's Stone (a.k.a. H...    0.765159
Gladiator (2000)                                      0.740956
Matrix, The (1999)                                    0.732693
Pirates of the Caribbean: The Curse of the Blac...    0.689591
Lord of the Rings: The Return of the King, The ...    0.676711